<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FruokIO iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FruokIO macOS 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FruokIO macOS UI Tests Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>FruokIO macOS UI Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FruokIO macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B2315BE1E6EF4F300706F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B29C2131E6B8E2B00E7C365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B29C21B1E6B8E2B00E7C365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B9409BA1E6A5CEC001DE331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B9409C31E6A5CEC001DE331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B9409EA1E6A5ECC001DE331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B9409F21E6A5ECC001DE331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BA7B1AE1E6EFF57009B4323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
